body,
html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: rgb(246, 251, 255);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.fill {
  height: 5vh;
}
.app {
  height: 100vh;
}
.navigation {
  height: 7vh;
  width: 100vw;

  background-color: rgb(14, 102, 143);
  margin: 0;
  padding: 0;
}
.navigation nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.cartLink {
  color: black;
  font-size: large;
  margin-left: auto;
  margin-right: 1vw;
}
.svg {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.svg img {
  height: 5vh;
  margin-left: 2vw;
}
.link {
  margin-right: 3vw;
  color: black;
}

.searchbar {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbar input {
  width: 38.4vw;
  height: 5vh;
  font-size: 25px;
}
.searchbar button {
  height: 5.8vh;
  font-size: 20px;
  font-weight: 500;
  width: 6vw;
  background-color: rgb(14, 102, 143);
  color: white;
}
.searchbar button:hover {
  background-color: rgb(8, 53, 73);
}

.categoryscontainer {
  display: flex;
  flex-direction: column;
  width: 45vw;
  margin-left: auto;
  margin-right: auto;
  height: 10vh;
}

.categorys {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.categorys button {
  width: 6vw;
  height: 8vh;
  background-color: rgb(14, 102, 143);
  color: white;
}
.categorys button:hover {
  background-color: rgb(8, 53, 73);
}
.listing {
  display: flex;
  height: 35vh;
  margin-top: 5vh;
  border: 1.5px solid black;
  background-color: rgb(239, 246, 250);
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23vw;
}
.image img {
  height: 30vh;
  width: 20vw;
}
.info {
  display: flex;
  flex-direction: column;
  width: 45vw;
}
.nameprice {
  display: flex;
  justify-content: space-between;
}
.otherdetail {
  display: flex;
  flex-direction: column;
}
.postedCondition h3 {
  margin: 0;
}
.details {
  height: 13vh;
}

.postedButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
}

.postedButton button {
  height: 4vh;
  border: 1.5px solid black;
  font-size: 17px;
  background-color: rgb(14, 102, 143);
  color: white;
}
.postedButton button:hover {
  background-color: rgb(8, 53, 73);
}
.postedButton h3 {
  margin: 0;
}
.addListingPage {
  height: 89vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addListingFormContainer {
  height: 85vh;
  width: 60vw;
  background-color: rgb(239, 246, 250);
}
.addListingHeader {
  text-align: center;
}
.addListingHeader h1 {
  font-size: 50px;
  margin: 1%;
}
.inputs {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.inputs h2 {
  margin: 0;
  margin-top: 2vh;
}
.inputs input {
  height: 4vh;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
}
.inputs textarea {
  height: 8vh;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
  resize: none;
}
.namePrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.name,
.price {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.categoryButtons {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.categoryButtons button {
  width: 30%;
  height: 4vh;
  font-size: 15px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(14, 102, 143);
  color: white;
}

.categoryButtons button:hover {
  background-color: rgb(8, 53, 73);
}

.categoryButtons button:focus {
  background-color: rgb(8, 53, 73);
}
.createButton {
  height: 5vh;
  display: flex;
  margin-top: 4vh;
}
.createButton button {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 20px;
  background-color: rgb(14, 102, 143);
  color: white;
}
.createButton button:hover {
  background-color: rgb(8, 53, 73);
}
.loginpage {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}
.pleaselogin h1 {
  font-size: 50px;
}
.loginform {
  width: 30%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: rgb(239, 246, 250);
  border-radius: 10px;
}
.loginheader {
  width: 100%;
  margin-left: 4vw;
}
.loginheader h1 {
  margin: 0;
  padding: 0;
}
.password,
.username {
  width: 13vw;
}
.password input,
.username input {
  height: 5vh;
  width: 13vw;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid black;
}
.password h3,
.username h3 {
  font-size: 25px;
  margin: 0;
}
.password {
  margin-top: 1vh;
  margin-bottom: 3vh;
}
.username {
  margin-bottom: 1vh;
}
.loginButton {
  width: 13.7vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginButton button {
  font-size: 20px;
  padding: 10px;
  width: 13.4vw;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: auto;
  background-color: rgb(14, 102, 143);
  color: white;
}
.loginButton button:hover {
  background-color: rgb(8, 53, 73);
}

.profilepage {
  height: 88vh;
}
.profileContainer {
  display: flex;
  justify-content: space-around;
}
.userdata {
  display: flex;
  flex-direction: column;
  background-color: rgb(239, 246, 250);
  width: 30vw;
  height: 70vh;
  border-radius: 30px;
}

.datah3 {
  font-weight: normal;
  font-size: 21px;
}
.headers {
  margin-left: 4vw;
}
.headers h3 {
  font-size: 21px;
}
.userInformation {
  margin-left: 1vw;
}
.dataContainer {
  display: flex;
}
.yourInformation {
  margin-top: 4vh;
  margin-left: 3vw;
}
.updateDataButton,
.changeDataButton {
  margin-top: 2vh;
  margin-left: 4vw;
  margin-right: auto;
}
.updateDataButton button,
.changeDataButton button {
  border: 1px solid black;
  height: 5vh;
  font-size: 17px;
  background-color: rgb(14, 102, 143);
  color: white;
}
.updateDataButton button:hover,
.changeDataButton button:hover {
  background-color: rgb(8, 53, 73);
}
.userInformationinputs {
  display: none;
}
.editListingButton {
  background-color: rgb(14, 102, 143);
  color: white;
  width: 5vw;
  text-align: center;
  border: 1px solid black;
  text-decoration: none;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.editListingButton:hover {
  background-color: rgb(8, 53, 73);
}
.userInformationinputs.editopen {
  display: block;
  flex-direction: row;
  width: 200px;
}
.userInformationinputs.editopen input {
  margin-top: 1.5vh;
  height: 4vh;
  font-size: 17px;
  width: 15vw;
  margin-left: 1vw;
}
.updateDataButton {
  display: none;
}
.userInformation.editopen {
  display: none;
}
.updateDataButton.editopen {
  display: block;
}
.changeDataButton.editopen {
  display: none;
}
.logoutButton {
  display: flex;
  height: 10vh;
  width: 100vw;
  align-items: center;

  justify-content: space-between;
}
.logoutButton button {
  height: 5vh;
  font-size: 20px;
  margin-right: 5vw;
  background-color: rgb(14, 102, 143);
  color: white;
  border-radius: 5px;
  border: 1px solid rgb(14, 102, 143);
  width: 8vw;
}
.logoutButton button:hover {
  background-color: rgb(8, 53, 73);
}
.ownListingsContainer {
  background-color: rgb(239, 246, 250);
  width: 60vw;
  border-radius: 30px;
}
.ownListingsContainer h1 {
  margin-left: 5vw;
}
.ownListings {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.ownListing {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 30vh;
  margin-bottom: 5vh;
  width: 95%;
  border: 1px solid black;
}

.ownListingImg img {
  height: 30vh;
  width: 18vw;
}

.ownListingInformation {
  display: flex;
  flex-direction: column;
  width: 95%;
}
.ownListingCondition p {
  margin: 0;
}
.ownListingName {
  display: flex;
  justify-content: space-between;
}
.ownListingName h2 {
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
}
.ownListingInformation p {
  margin-left: 1vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.ownListingDetails {
  height: 48%;
}
.ownListingButtons {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  width: 100%;
}
.ownListingButtons button {
  width: 7vw;
  height: 4vh;
  font-size: 17px;
  margin-right: 1vw;
  background-color: rgb(14, 102, 143);
  color: white;
}
.ownListingButtons button:hover {
  background-color: rgb(8, 53, 73);
}
.addListing {
  color: black;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  margin-left: auto;
  width: 8vw;
  margin-right: 3vw;
}

.addListing button {
  width: 100%;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}
.editListingPage {
  height: 89vh;
  display: flex;
}
.editListingContainer {
  margin-top: 10vh;
  margin-left: 15vw;
  width: 70vw;
  height: 70vh;
  background-color: rgb(239, 246, 250);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.editListingForm {
  display: flex;
  flex-direction: column;
}
.editListingInputs {
  display: flex;
  flex-direction: column;
}
.editListingHeader {
  margin-left: 10vw;
}
.editListingHeader h1 {
  font-size: 40px;
}
.editListingForm {
  margin-left: 10vw;
}

.editListingDetails,
.editListingCondition,
.editListingPrice,
.editListingName {
  display: flex;
  width: 60vw;
  align-items: center;
}
.editListingName input,
.editListingPrice input,
.editListingCondition input {
  width: 40vw;
  height: 5vh;
  font-size: 16px;
}
.editListingDetails textarea {
  width: 40vw;
  height: 8vh;
  font-size: 16px;
  resize: none;
}

.editListingDetails h2,
.editListingCondition h2,
.editListingPrice h2,
.editListingName h2 {
  width: 15%;
}
.saveEditButton button {
  height: 5vh;
  width: 5vw;
  font-size: 18px;
  margin-top: 2vh;
  margin-left: auto;
  background-color: rgb(14, 102, 143);
  color: white;
}
.saveEditButton {
  margin-left: 10vw;
  width: 49.5vw;
  display: flex;
}

.saveEditButton button:hover {
  background-color: rgb(8, 53, 73);
}
.CartPage {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cartContainer {
  background-color: rgb(239, 246, 250);

  width: 75vw;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
}
.cartItems {
  display: flex;
  width: 45vw;
  height: 25vh;
  margin-left: 3vw;
  margin-right: auto;
  background-color: rgb(239, 246, 250);
  align-items: center;
  border-bottom: 1px solid black;
  margin-bottom: 1vh;
}
.cartItems img {
  height: 20vh;
  width: 10vw;
}
.cartItems h3 {
  padding: 0;
  margin: 0.2vh;
}
.cartItemname {
  height: 20vh;
  text-align: left;
  margin-left: 1vw;
  width: 25vw;
}
.cartItemAmount {
  width: 25%;
}

.cartItemAmount {
  margin-right: 3vw;
}

.priceAndAmountButtons {
  display: flex;
  flex-direction: column;
}
.buttons {
  display: flex;
  margin-left: 2vw;
  width: 5vw;
  justify-content: space-around;
}
.buttons button {
  background-color: rgb(14, 102, 143);
  color: white;
  font-weight: 600;
}
.buttons button:hover {
  background-color: rgb(8, 53, 73);
}
.cartItemAmount {
  margin-left: 2vw;
  width: 5vw;

  margin-top: 5vh;
}
.cartItemsandTotalContainer {
  display: flex;
  justify-content: space-around;
}
.total {
  border: 1px solid black;
  height: 25vh;
  width: 20vw;
  margin-left: 3vw;
  margin-right: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.total button {
  width: 10vw;
  height: 5vh;
  background-color: rgb(14, 102, 143);
  color: white;
  margin-top: 2vh;
}
.total button:hover {
  background-color: rgb(8, 53, 73);
}
.cartContainer .cartItems:last-child {
  margin-bottom: 10vh;
}
.cartItemCounter {
  position: absolute;
  top: -6px; /* Adjust this value to align the count properly */
  left: -10px; /* Adjust this value to align the count properly */
  background-color: rgb(0, 0, 0); /* Choose your background color */
  color: white; /* Choose your text color */
  border-radius: 50%;
  padding-top: -0px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 15px;
}
.cartIconContainer {
  position: relative;
}
.fileInput {
  background-color: rgb(239, 246, 250) !important;
  border: none !important;
}
